# 作业7-机器学习-实战流程练习
**作业要求：**

- 在Python Jupyter中回答，**需运行出结果**。
- 网页-打印-另存为pdf，命名：**作业7-班级-学号后两位-姓名.pdf**
- 按时上传职教云，**过期不补**。

### 我们的任务：预测一个人的收入能否超过五万美元，超过：1，未超过：0

#### 数据说明：（adult.csv)
    - age 年龄 
    - workclass 工作类型 
    - fnlwgt 序号 
    - education_num 受教育时间 
    - maritial_status 婚姻状况 
    - relationship 关系 
    - race 种族 
    - sex 性别 
    - capital_gain 资本收益 
    - capital_loss 资本损失 
    - hours_per_week 每周工作小时数 
    - predclass 收入 (目标，需转换0/1)

In [1]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('./data/adult.csv')
data.head()

,age,workclass,fnlwgt,education-num,marital-status,relationship,race,sex,capital-gain,capital-loss,hours-per-week,predclass
0,39.0,State-gov,77516,13.0,Never-married,Not-in-family,White,Male,2174,0,40,<=50K
1,50.0,Self-emp-not-inc,83311,13.0,Married-civ-spouse,Husband,White,Male,0,0,13,<=50K
2,38.0,Private,215646,9.0,Divorced,Not-in-family,White,Male,0,0,40,<=50K
3,53.0,Private,234721,7.0,Married-civ-spouse,Husband,Black,Male,0,0,40,<=50K
4,28.0,Private,338409,13.0,Married-civ-spouse,Wife,Black,Female,0,0,40,<=50K