# Panda

## Serives系列

In [1]:
import pandas as pd
import numpy as np

In [2]:
d = np.array(['a','b','c','d'])
index = [101, 102, 103, 104]
obj = pd.Series(data=d, index=index)
print(obj)

101    a
102    b
103    c
104    d
dtype: object

In [4]:
d = np.array(['a','b','c','d'])
index = ['A','B','C','D']
obj = pd.Series(data=d, index=index)
print(obj)

A    a
B    b
C    c
D    d
dtype: object

## DataFrame系列

In [5]:
d = {'Name':['Tom','Jack','Steve','Ricky'], 'Age':[28, 39, 29, 12]}
df = pd.DataFrame(data=d)
df

    Name  Age
0    Tom   28
1   Jack   39
2  Steve   29
3  Ricky   12

In [6]:
d = {'Name':['Tom','Jack','Steve','Ricky'], 'Age':[28, 39, 29, 12]}
df = pd.DataFrame(data=d, index=['A','B','C','D'])
df

    Name  Age
A    Tom   28
B   Jack   39
C  Steve   29
D  Ricky   12

In [7]:
data = [[95,92],[88, 91]]
index = ("张三", "李四")
columns = ["语文", "数学"]
df = pd.DataFrame(data=data
                  , index=index)
# 注释快捷键: Ctrl + ?/
df

     0   1
张三  95  92
李四  88  91

## 第七章 正则表达式

## 1.match匹配

### 1.1匹配字符串

In [3]:
import re

rst = re.match('www', 'www.baidu.com')
rst

In [4]:
rst.span()

(0, 3)

In [5]:
rst.group()

'www'

In [6]:
if rst:
    print("匹配成功")
else:
    print("匹配失败")

匹配成功

In [12]:
import re
rst = re.match('[Hh]', 'hello world.')
if rst:
    print(rst.group())
    print(rst.span())
else:
    print("匹配失败")

h
(0, 1)

In [14]:
import re
rst = re.match('Hello Python', 'hello python123', re.I) # re.I忽略大小写
if rst:
    print(rst.group())
else:
    print("匹配失败")

hello python

###  1.2 匹配数字

In [21]:
import re
rst = re.match('[0-9]*Hello', '713213213Hello python') # 星号*表示前面的模式出现任意多个,0,1,2,3,...
print(rst.group())
print(rst.span())

713213213Hello
(0, 14)

In [23]:
import re
rst = re.match('[\d]*Hello', '222Hello python') # '\d' 代表一个数字
print(rst.group())
print(rst.span())

222Hello
(0, 8)

In [27]:
import re
rst = re.match('[0-47-9]*Hello', '2052Hello Python')
print(rst)

None

In [28]:
# +表示至少一次, 1,2,3,4,5......
rst = re.match("神州\d+号", '神州123号发射')
print(rst.group())

神州123号

In [29]:
'''
?   0或1次
(m)   m次
(m, n) m到n次
'''

'\n?   0或1次\n(m)   m次\n(m, n) m到n次\n'

In [32]:
import re
rst = re.match('[1-9]?[\d]?[\d]', '21333')
print(rst)
print(rst.group())

<re.Match object; span=(0, 3), match='213'>
213

In [35]:
import re
ls = [58, 83, 95, 92, 61]
for sc in ls:
    rst = re.match('[6-9][0-9]', str(sc))
    if rst:
        print(sc)

83
95
92
61

In [37]:
rst = re.match('[a-zA-Z0-9_]{6}', '123ddadASD312')
print(rst)

<re.Match object; span=(0, 6), match='123dda'>

## complie

In [43]:
import re
p = re.compile('\w{4,20}@(163|126|qq)\.com$') # $表示以...结尾
rst = p.match('test1234@163.com')
if rst:
    print('注册成功')
else:
    print("失败")

注册成功

注册成功